<style>
  .menu-Item{
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
}

.menu-Item:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 rgba(255, 255, 255, 0.5);
}

.menu-Item:active{
  -webkit-box-shadow: 1px 1px 13px #f7f7f7, -1px -1px 33px #fdfdfd;
  box-shadow: 3px 3px 13px #ffffff, -1px -1px 33px #ffffff;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}
@media screen and (max-width: 600px) {
  .menu-Item:hover {
    color: rgb(255, 255, 255);/* Your default color for mobile */;
    box-shadow: none; /* Remove box shadow for mobile devices */
  }

  .menu-Item:active{
  -webkit-box-shadow: 1px 1px 13px #f7f7f7, -1px -1px 33px #fdfdfd;
  box-shadow: 3px 3px 13px #ffffff, -1px -1px 33px #ffffff;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}
}
  .list a {
    font-size: 2em; /* You can adjust the value as needed */
  }

  
</style>


<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw4-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="menu-Item" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
